header{
    background-color: #141C3A;
    color: white;
    height: 200px;
    
    
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: 64px;
}
a{
    color: white;
    text-decoration: none;
}
.navig{
    font-size: 24px;
    
    
    
}

li{
    list-style: none;
    
    
    
}
.container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-content: center;
    padding-left: 10%;
    
    
}
.box{
    width: 213px;
    height: 138px;
    background-color: rgb(224, 219, 219);
    margin-right: 40%;
    margin-top: 5%;
    text-align: left;
    
    
    }
    .grand{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
        
    }
    h3{
        margin-left: 30px;
        font-weight: normal;
    }
    button{
        background-color: #141C3A;
        width: 70%;
        height: 40%;
        color: white;
        margin-left: 35px;
        

    }
    .search{
        display: flex;
        justify-content: center;
        height: 40px;
        margin-top: 6%;
        margin-bottom: 6%;
        
    
    }
    input{
        width: 50%;
        text-align: center;
        font-size: 18px;
        
    }
    @media (max-width: 576px){
        .search, input{
            width: 100%;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-left: 15%;
        
            
        

        }
        
    }

    